.FooterSection{
  width: 100%;
  padding-top: 10% ;
  padding-bottom: 3%;
  position: relative;
  background: #000;
  .FooterSectionBl{
    width: 80%;
    position: relative;
    margin: 0 auto;
    @media(max-width: 768px){
      z-index: 30;
    }
    &ock{
      display: flex;
      justify-content: space-between;
      align-items: start;
      @media(max-width: 768px){
        flex-direction: column;
        width: 100%;
        align-items: center;
      }
      &_logo{
        display: flex;
        flex-direction: column;
        @media(max-width: 768px){
          align-items: center;
          margin: 10px 0;
        }

        & img {
          @media(max-width: 1024px){
            width: 89%;
          }
        }
        & a{
          font-family: 'Circe' ,sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #FFFFFF;
          margin-top: 2%;
        }
      }
      &_menu{
        display: flex;
        @media(max-width: 1024px){
          width: 55%;
        }
        @media(max-width: 768px){
          flex-direction: column;
          align-items: center;
          margin: 10px 0;
        }
      }
      &_seti{
        display: flex;
        @media (max-width: 768px) {
          margin-left: -5%;
        }
        &_icon{
          display: flex;
          position: relative;
          justify-content: center;
          align-items: center;
          margin:0 10px;
          width: 40px;
          height: 40px;
          @media(max-width: 1024px){
            width: 35px;
            height: 35px;
          }
          &:hover .FooterSectionBlock_seti_icon_img{
            transform: scale(0);
          }
          &:hover .FooterSectionBlock_seti_icon_img1{
            opacity: 1;
          }
          .FooterSectionBlock_seti_icon_img1{
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            transition: .2s;
            opacity: 0;
            margin-left: -70%;
            margin-top: -45%;
            @media (max-width: 768px) {
              opacity: 1;
              margin-top: 0;
              margin-left: 0;
            }
          }
          &_img{
            width: 100%;
            height: 100%;
            position: relative;
            object-fit: cover;
            transition: .2s;
            z-index: 3;
            @media (max-width: 768px) {
              opacity: 0;
            }
          }
        }
      }
    }
    &ox{
      margin-top: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      & h4{
        font-family: 'Circe' , sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        @media (max-width: 425px){
          margin-top: 20px;
          font-size: 12px;
        }
      }
      & h5{
        font-family: 'Circe' ,sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        @media (max-width: 425px){
          font-size: 12px;
        }
      }
    }
  }
}


.HeaderLink {
  font-family: 'Circe', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0 15px;
  text-decoration: none;
}